# Some modeling and threshold testing

In [2]:
# Standard imports
import sqlite3
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.ensemble import RandomForestClassifier
from sklearn.cross_validation import train_test_split
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import roc_auc_score

%matplotlib inline

In [3]:
data = pd.read_csv('data/loans_toy.csv')

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 887350 entries, 0 to 887349
Data columns (total 33 columns):
Unnamed: 0                       887350 non-null int64
annual_inc                       887350 non-null float64
dti                              887350 non-null float64
pub_rec                          887350 non-null float64
loan_amnt                        887350 non-null float64
binary_profit_loss               887350 non-null int64
earliest_cr_line_month           887350 non-null float64
earliest_cr_line_year            887350 non-null float64
issue_d_month                    887350 non-null int64
issue_d_year                     887350 non-null int64
home_ownership_MORTGAGE          887350 non-null int64
home_ownership_RENT              887350 non-null int64
home_ownership_OWN               887350 non-null int64
home_ownership_IS_OTHER_VALUE    887350 non-null int64
purpose_debt_consolidation       887350 non-null int64
purpose_credit_card              887350 non-null int64
purpose_home_improvement         887350 non-null int64
purpose_other                    887350 non-null int64
purpose_major_purchase           887350 non-null int64
purpose_small_business           887350 non-null int64
purpose_car                      887350 non-null int64
purpose_medical                  887350 non-null int64
purpose_moving                   887350 non-null int64
purpose_vacation                 887350 non-null int64
purpose_house                    887350 non-null int64
purpose_wedding                  887350 non-null int64
purpose_renewable_energy         887350 non-null int64
purpose_educational              887350 non-null int64
purpose_IS_OTHER_VALUE           887350 non-null int64
is_joint                         887350 non-null int64
grade_num                        887350 non-null int64
sub_grade_num                    887350 non-null int64
term_num                         887350 non-null int64
dtypes: float64(6), int64(27)
memory usage: 223.4 MB

In [7]:
data.head()

,Unnamed: 0,annual_inc,dti,pub_rec,loan_amnt,binary_profit_loss,earliest_cr_line_month,earliest_cr_line_year,issue_d_month,issue_d_year,...,purpose_vacation,purpose_house,purpose_wedding,purpose_renewable_energy,purpose_educational,purpose_IS_OTHER_VALUE,is_joint,grade_num,sub_grade_num,term_num
0,0,24000.0,27.65,0.0,5000.0,1,1.0,1985.0,12,2011,...,0,0,0,0,0,0,0,1,1,36
1,1,30000.0,1.00,0.0,2500.0,0,4.0,1999.0,12,2011,...,0,0,0,0,0,0,0,2,2,60
2,2,12252.0,8.72,0.0,2400.0,1,11.0,2001.0,12,2011,...,0,0,0,0,0,0,0,2,2,36
3,3,49200.0,20.00,0.0,10000.0,1,2.0,1996.0,12,2011,...,0,0,0,0,0,0,0,2,2,36
4,4,80000.0,17.94,0.0,3000.0,1,1.0,1996.0,12,2011,...,0,0,0,0,0,0,0,1,1,60

In [8]:
select = sklearn.feature_selection.SelectKBest(k=5)
clf = sklearn.ensemble.RandomForestClassifier()

steps = [('feature_selection', select),
        ('random_forest', clf)]

pipeline = sklearn.pipeline.Pipeline(steps)

X_train, X_test, y_train, y_test = sklearn.cross_validation.train_test_split(X, y, test_size=0.33, random_state=42)

pipeline.fit(X_train, y_train)

preds_probas = pipeline.predict_proba(X_test)
preds = pipeline.predict(X_test)

report = sklearn.metrics.classification_report(y_test, preds )

NameError: name 'sklearn' is not defined